<a href="https://colab.research.google.com/github/annonlover/2024-intro-DA/blob/main/w02_2_control_flow_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#예제1 조건 if
n = 20
if n%2 == 0:
    print('짝수')

짝수

In [3]:
#예제1 조건 if
n = 21
if n%2 == 0:
   print('짝수')

In [5]:
#예제2 조건 if else
age = 18
if age >= 20:
  print('성인')
else:
    print('미성년자')

미성년자

In [6]:
#예제2 조건 if else
age = 21
if age >= 20:
  print('성인')
else:
    print('미성년자')

성인

In [8]:
#예제3 한 줄 조건 구문 if else
age = 18
s = '성인' if age>= 20 else '미성년자'
print(s)

미성년자

In [9]:
#예제3 한 줄 조건 구문 if else
age = 20
s = '성인' if age>= 20 else '미성년자'
print(s)

성인

In [10]:
#예제4 반복된 조건 if elif

point = 92
if(90 <= point):
  print('A')
elif (80 <= point):
  print('B')
elif (70 <= point):
  print('C')
elif (60 <= point):
  print('D')
else:
  print('F')

A

In [11]:
#예제4 반복된 조건 if elif

point = 62
if(90 <= point):
  print('A')
elif (80 <= point):
  print('B')
elif (70 <= point):
  print('C')
elif (60 <= point):
  print('D')
else:
  print('F')

D

In [17]:
#예제5 match 구문
value = "apple"

match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"

print(result)

사과

In [18]:
#예제5 match 구문
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"

print(result)

바나나

In [20]:
#예제5 match 구문
value = "mango"

match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
  case _:
    result = None

print(result)

None

In [24]:
#예제6 반복 for 문
for x in range(1, 6):
  print(x)

1
2
3
4
5

In [25]:
#예제6 반복 for 문
num = [10, 20, 30, 40]
for i in num:
  print(i)

10
20
30
40

In [26]:
#예제6 반복 for 문
fruits = list(["apple ", 2500, "banna", 500, "mango", 2000])
for x in fruits:
  print(x)

apple
2500
banna
500
mango
2000

In [27]:
#예제7 반복 while 문
i = 1
sum = 0
while i <= 10:
  sum += i
  i += 1

  print(sum)

1
3
6
10
15
21
28
36
45
55

In [31]:
#예제8 함수 선언과 호출
def hello():
 print('Hello, Python!')

In [32]:
#예제8 함수 선언과 호출
hello()

Hello, Python!

In [33]:
#예제8 함수 선언과 호출
hello

In [35]:
#예제8 함수 선언과 호출
type(hello)

function

In [40]:
#예제8 함수 선언과 호출
def hi(one):
  print('안녕', one)

In [43]:
#예제8 함수 선언과 호출
hi('영희')
hi
str(hi)

안녕 영희

'<function hi at 0x7ccd60bae950>'

In [45]:
#예제9 함수 매개변수 기본 값
def hi(one = '친구들'):

  print('안녕', one)

In [46]:
#예제9 함수 매개변수 기본 값
hi()

안녕 친구들

In [47]:
#예제9 함수 매개변수 기본 값
hi('철수')

안녕 철수

In [49]:
#예제9 함수 매개변수 기본 값
import math as m
def circle_area(r = 1):
  print(m.pi * r **2)

In [50]:
#예제9 함수 매개변수 기본 값
circle_area()

3.141592653589793

In [52]:
#예제9 함수 매개변수 기본 값
circle_area(4.5)

63.61725123519331

In [53]:
#예제9 함수 매개변수 기본 값
circle_area(r = 5.6)

98.5203456165759

In [54]:
#예제9 함수 매개변수 기본 값
print(circle_area(r = 7.2))

162.8601631620949
None

In [56]:
#예제10 return 구문과 함수 매개변수 지정
import math as m
def circle_area(r = 1):
  return m.pi * r **2

print(circle_area(r = 7.2))

162.8601631620949

In [62]:
#예제10 return 구문과 함수 매개변수 지정
def sum_sub(x, y):
  hap = x + y
  cha = x - y
  return hap, cha

sum_sub(10,3)
sum_sub(x = 10, y = 3)
sum_sub(y = 3, x = 10)

(13, 7)

In [63]:
#예제11 lmabda익명 함수
import math as m
(lambda a, b: m.sqrt(a**2 + b**2))(3, 4)

5.0